.inicio {  
  height: 100vh;
  position: relative;
  background-image: url('../img/fondo principal.png');
  background-size: cover;
  background-position: bottom; 
  background-repeat: no-repeat;
  
}
.fondoM{
  background-image: url('../public/img/mainLogo.png');

}
.fondo2 {
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  background-size: cover;
  /* background-image: url('../public/img/fondo secundario.png'); */
  /* box-shadow: 0px 0px 10px 0px #000000b9;  */
  /* background-color: #fff; */
  /* margin-top: 30px; */
}

.primario{
  color:#582D73;
}

.btn-home {
  text-align: center;
  width: 100%;
  max-width: 358px;
  padding: 16px;
  margin: 0 auto;
  background-color: #C791A8;
  border-radius: 8px;
  border-color: #C791A8;
  font-weight: bolder;
  color:#000000;
}

.btn-home:active {
  background-color: #C791A8 !important;
  border-color: initial !important;
}

.btn-home:hover {
  background-color: darken(#C791A8, 5%) !important;
}

.btn-home:focus {
  box-shadow: none !important;
}

.col-12 {
  margin-top: 3rem;
}

.col-12 h3 {
  text-align: center;
  font-weight: 700;
}

span {
  color:#582D73;
}

/* Versión escritorio */
@media (min-width: 768px) {
  .fondo {
    background-image: url('../public/img/fondo secundario.png');
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px 0px #000000b9; 
    border-radius: 10px;
    background-color: #fff;
    background-size: cover;
    margin-top: 30px;
  }

  .fondo .imagenes {
    margin-top: 25px;
  }

  .fondo .imagenes .img1 {
    max-width: 160px;
  }

  .fondo .imagenes .img2 {
    padding-top: 15px;
    width: 250px;
  }

  .fondo h1 {
    color: #000000;
  }

  .fondo p { 
    color: #000000;
    font-weight: 500;
  }

  .fondo .borde {
    border-right: 3px solid rgba(101, 100, 101, 0.243)!important;
    padding-right: 10px;
  }
}

/* Versión móvil */
@media (max-width: 767px) {
  .fondoM{
    background-image: url('../public/img/mainLogo.png');

  }
  .img1, .img2 {
    display: none;
  }
  
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-right: 20px;
  }

  .vmovil p {
    text-align: justify;
  }
}
